.cloud {
  width: 100%;
  margin-top: 10%;
  position: relative;
}
.logo-two-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-two {
  width: 13%;
  position: absolute;
  z-index: 1;
  margin-top: 40%;
  margin-left: -8%;
}
.footer-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-text {
  z-index: 1;
  display: flex;
  /* justify-content: space-center; */
  font-size: 11px;
  line-height: 1.7;
  font-family: sans-serif;
  position: absolute;
  gap: 5rem;
  margin-top: 75%;
  margin-left: -10%;
}
.footer-text b {
  font-size: 10px;
  letter-spacing: 2px;
}

.footer-input-container {
  display: flex;
  justify-content: center;
  align-items: centers;
}
.footer-input {
  position: absolute;
  width: 60%;
  padding: 13px;
  font-size: 10px;
  font-family: sans-serif;
  margin-top: 45%;
  outline: none;
  background-color: gainsboro;
  border: gainsboro;
  border-radius: 5px;
  z-index: 1;
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-btn button {
  position: absolute;
  padding: 14px;
  border-radius: 25px;
  width: 12%;
  background-color: rgb(255 204 42);
  border: rgb(255 204 42);
  color: #000;
  margin-top: 105%;
  z-index: 1;
  cursor: pointer;
}
.footer-btn button:hover {
  background-color: #000;
  color: rgb(255 204 42);
}

.footer-circle-container {
  display: flex;
  justify-content: center;
  gap: 10rem;
  position: absolute;
  margin-top: 60%;
  z-index: 1;
  margin-left: 25%;
}
.footer-circle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: monospace;
}
.footer-circle-container div:nth-child(1) {
  background-color: rgb(89 197 207);
}
.footer-circle-container div:nth-child(2) {
  background-color: rgb(234 84 111);
}
.footer-circle-container div:nth-child(3) {
  background-color: rgb(123 198 93);
}

.contact {
  display: flex;
  position: absolute;
  gap: 3rem;
  font-family: sans-serif;
  font-size: 0.7rem;
  letter-spacing: 1px;
  margin-top: 69%;
  margin-left: 21%;
  z-index: 1;
}
.footer-thread-six {
  width: 8%;
  position: absolute;
  z-index: 1;
  right: 0;
  margin-top: 44%;
}
.footer-thread-seventh {
  width: 20%;
  position: absolute;
  z-index: 1;
  left: 0;
  margin-top: 65%;
}

.footer-blue-bubble {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: rgb(89 197 207);
  position: absolute;
  z-index: 1;
  margin-top: 20.5%;
  left: 17%;
}
.footer-green-bubble {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: rgb(123 198 93);
  position: absolute;
  margin-top: 10%;
  z-index: 1;
  position: absolute;
  right: 11.5%;
  margin-top: 22.8%;
}
.footer-red-bubble {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: rgb(234 84 111);
  position: absolute;
  z-index: 1;
  margin-top: 12%;
  margin-left: 15%;
}
.red-bubble-container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 769px) {
  .logo-two {
    width: 18%;
    left: 45%;
  }

  .footer-text {
    font-size: 10px;
    margin-top: 80%;
    left: 20%;
  }

  .footer-input {
    width: 70%;
    margin-top: 50%;
    left: 12%;
  }

  .footer-btn button {
    width: 13%;
    margin-top: 105%;
    left: 78%;
    font-size: 12px;
  }

  .footer-circle-container {
    gap: 8rem;
    margin-top: 58%;
  }

  .contact {
    font-size: 0.8rem;
    margin-top: 70%;
  }

  .footer-thread-six {
    margin-top: 44%;
  }

  .footer-thread-seventh {
    margin-top: 65%;
  }

  .footer-blue-bubble {
    margin-top: 19%;
  }

  .footer-green-bubble {
    right: 13%;
    margin-top: 21%;
  }

  .footer-red-bubble {
    left: 40%;
    margin-top: 11%;
  }
}
@media screen and (max-width:480px){
  .footer-circle-container {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .logo-two {
    width: 15%;
    left: 47%;
  }

  .footer-text {
    display: none;
    font-size: 7px;
    margin-top: 85%;
    left: 0;
  }

  .footer-input {
    width: 80%;
    margin-top: 35%;
    left: 10%;
  }

  .footer-btn button {
    width: 15%;
    padding: 9px;
    margin-top: 92%;
    left: 45%;
    display: none;

  }

  .footer-circle-container {
    gap: 6rem;
    margin-top: 45%;
    /* display: none; */
  }

  .contact {
    font-size: 0.8rem;
    margin-top: 60%;
    margin-left: 10%;
  }

  .footer-thread-six {
    margin-top: 44%;
  }

  .footer-thread-seventh {
    margin-top: 65%;
  }
}

